@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-accent: #5fb4a2;
  --dark-sidebar: #0b1a2a;
  --main-bg: #f9f7eaff;
  --text-main: #333333;
  --heading-color: #4a8e7f;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;

  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark-sidebar);
  color: var(--text-main);
}
.container {
  background-color: var(--main-bg);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 200;
}
.circle {
  background-color: var(--primary-accent);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.container.show-nav ~ .circle-container .circle {
  transform: rotate(-115deg);
}
.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}
.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}

.circle button#close {
  transform: rotate(100deg);
  transform-origin: top left;
}
.container.show-nav ~ nav li {
  transform: translateX(0);
}
nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}
nav ul {
  list-style-type: none;
  padding-left: 30px;
}
nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 50px auto;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in 0.3s, color 0.5s ease;
}
nav ul li:hover {
  color: #5fb4a2;
  cursor: pointer;
}
nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}
.content img {
  max-width: 100%;
}
.content {
  max-width: 1000px;
  margin: 50px auto;
}
.content h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 5px;
  color: var(--heading-color);
}
.content small {
  color: #555;
  font-style: italic;
  margin-bottom: 20px;
  display: block;
}
.content p {
  line-height: 1.6;
  color: #333;
}
