@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #191c22;
    font-family: "Saira", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;
    height: 80vh;
}
.panel{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    padding: 20px;
    position: relative;
    transition: flex 0.5s ease-in-out;
    overflow: hidden;
}
.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    font-size: 44px;
    font-weight: bold;
    transition: opacity 0.3s ease-in 0.3s;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
}

@media (max-width:480px){
    .container{
       width: 100vw;

    }
    .panel h3{
    font-size: 24px;
}
    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }

}